:root {
    --darkgray-color: #0F0F0F;
    --white-color: #FFFFFF;
    --gray-color: #c0c0c0;
}

* {
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--darkgray-color);
    color: var(--darkgray-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: var(--white-color);
    padding: 50px 50px 40px 50px;
    border-radius: 20px;
    max-width: 650px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    margin-bottom: 50px;
}

h1,
p {
    text-align: center;
}

button.btn-add-to-do {
    background-color: transparent;
    border: none;
    color: none;
    cursor: pointer;
}

.img-add {
    display: flex;
    align-items: center;
    height: 35px;
    width: 35px;
}

.img-delete {
    height: 20px;
    width: 20px;
    margin-right: 6px;
}

.flex-input-btn {
    margin-bottom: 50px;
}

.flex-add-task {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-to-do {
    width: 500px;
    height: 30px;
    border-radius: 30px;
    padding: 10px;
    margin-right: 10px;
    font-size: 15px;
}

.to-do {
    overflow: hidden;
}

li {
    list-style: none;
    margin-bottom: 10px;
}

hr {
    margin-bottom: 10px;
}

.flex-btn-clear {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-clear {
    margin-top: 50px;
    font-size: 18px;
    width: 100px;
    height: 35px;
    border-radius: 30px;
    font-weight: 600;
    color: var(--darkgray-color);
    background-color: var(--white-color);  
}

.btn-clear:hover {
    color: var(--white-color);
    background-color: var(--darkgray-color);
}

@media all and (max-width: 600px) {
    body {
        background-color: var(--white-color);
    }

    .container {
        padding: 50px 20px;
    }

    .input-to-do {
        width: 300px;
    }
}